@include media-md {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;

      &__item {
        display: inline;
        padding-right: 1.5rem;
      }

      &__link {
        font-size: 1.5rem;
      }
    }
  }

  .about__bio {
    font-size: 1.5rem;
  }

  .stores {
    &__bio-image {
      height: 40vh;
    }

    &__items {
      grid-template-columns: repeat(2, 1fr);
    }

    .text-secondary {
      font-size: 3rem;
    }
  }
  
  .home {
    &__name {
    font-size: 200px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid set-text-color($primary-color);
  }

  &--last {
    color:$secondary-color;
      font-weight: 700;
    }

    .policies {
      position: absolute;
      right: 0;
      padding-top: 5rem;
    }
  }
}

@include media-lg { 
.home {
  &__name {
    font-size: 5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid set-text-color($primary-color);

    &--last {
      color: $secondary-color;
      font-weight: 700;
    }
  }

  .social-icons{
    visibility: visible;
  }

  .policies{
    position: absolute;
    right: 0;
    padding-top: 3rem;
    padding-right: 2rem;
  }

  footer{
    transform: rotate(0.1deg);
    translate: (-3rem, -5rem);
  }
}

  .stores {
    &__items {
      grid-template-columns: repeat(5, 1fr);//five columns here
    }

    .bottom-link {
      display: inline-block;
      padding: 3rem;
      padding-left: 15rem;
    
      
      &.bottom-link:hover{
        a{
          color: $secondary-color;
          @include transition-ease;
        }
      }
    }
  }

  .contact {
    footer{
      color: set-text-color(set-text-color($secondary-color));
      transform: rotate(0.1deg);
      translate: (-3rem, -5rem);
    }

    .social-icons {
      position: fixed;
      bottom: 1rem;
      left: 1rem;
  
      a {
        color: set-text-color(set-text-color($secondary-color));
        padding: 0.4rem;
        @include transition-ease;
  
        &:hover{
          color: $secondary-color;
        }
      }
    }
  }

  .form-group label, .form-group input, .form-group textarea {
    float: none;
    width: 100%;
  }
  
  input[type="submit"] {
    width: 100%;
  }
}

@include media-xl {
  .stores__bio-image{
    height: 50vh;
  }
}