/* styles.css */
body{
  overflow: hidden;
}

.ad-banner {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: relative;
  cursor: pointer;

}

.ad-slide {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.5s ease;
  padding-bottom: 2rem;
  margin-top: 0.5rem;
  margin-left: 5rem;
  cursor: pointer;
}

.ad-slide img {
  width: 10%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

/* Styles for screens smaller than 768px (typical mobile phones) */
@media only screen and (max-width: 767px) {
  /* CSS styles to apply */
  .ad-banner,
  .ad-slide,
  .ad-slide img {
    display: none;
  }
}